/*#region Menu Card*/
.card-TaiebAnalytix-Menu-Card {
    background-color: rgba(36, 40, 50, 1);
    background-image: linear-gradient(
            139deg,
            rgba(36, 40, 50, 1) 0%,
            rgba(36, 40, 50, 1) 0%,
            rgba(37, 28, 40, 1) 100%
    );

    border-radius: 10px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-TaiebAnalytix-Menu-Card .separator-TaiebAnalytix-Menu-Card {
    border-top: 1.5px solid #42434a;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 10px;
    margin: 0;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card .element-TaiebAnalytix-Menu-Card {
    display: flex;
    align-items: center;
    color: #7e8590;
    gap: 10px;
    transition: all 0.3s ease-out;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card .element-TaiebAnalytix-Menu-Card span {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card .element-TaiebAnalytix-Menu-Card .label-TaiebAnalytix-Menu-Card {
    font-weight: 600;
    margin: 0;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card .element-TaiebAnalytix-Menu-Card:hover {
    background-color: #5353ff;
    color: #ffffff;
    transform: translate(1px, -1px);
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card .delete-TaiebAnalytix-Menu-Card:hover {
    background-color: #8e2a2a;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card .element-TaiebAnalytix-Menu-Card:active {
    transform: scale(0.99);
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card:not(:last-child) .element-TaiebAnalytix-Menu-Card:hover span {
    stroke: #ffffff;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card:last-child span {
    stroke: #bd89ff;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card:last-child .element-TaiebAnalytix-Menu-Card {
    color: #bd89ff;
}

.card-TaiebAnalytix-Menu-Card .list-TaiebAnalytix-Menu-Card:last-child .element-TaiebAnalytix-Menu-Card:hover {
    background-color: rgba(56, 45, 71, 0.836);
}

/*#endregion Menu Card*/

/*#region Toast*/

.tibou-analytix-notification-box .toast-container {
    position: fixed;
    bottom: 30px; /* Position from the bottom */
    right: 40px;
    display: flex;
    flex-direction: column-reverse; /* Stack new toasts from bottom up */
    gap: 15px; /* Spacing between toasts */
    z-index: 1000;
    pointer-events: none; /* Allow clicks to pass through container */
}

.toast-TaiebAnalytix-Toast-Notification {
    min-width: 300px;
    max-width: 550px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-TaiebAnalytix-Toast-Notification.active {
    transform: translateX(0%);
}

.toast-TaiebAnalytix-Toast-Notification .toast-content-TaiebAnalytix-Toast-Notification {
    display: flex;
    align-items: center;
}

.toast-content-TaiebAnalytix-Toast-Notification .check-TaiebAnalytix-Toast-Notification {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content-TaiebAnalytix-Toast-Notification .message-TaiebAnalytix-Toast-Notification {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message-TaiebAnalytix-Toast-Notification .text-TaiebAnalytix-Toast-Notification {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.message-TaiebAnalytix-Toast-Notification .text-TaiebAnalytix-Toast-Notification.text-1-TaiebAnalytix-Toast-Notification {
    font-weight: 600;
    color: #333;
}

.toast-TaiebAnalytix-Toast-Notification .close-TaiebAnalytix-Toast-Notification {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast-TaiebAnalytix-Toast-Notification .close-TaiebAnalytix-Toast-Notification:hover {
    opacity: 1;
}

.toast-TaiebAnalytix-Toast-Notification .progress-TaiebAnalytix-Toast-Notification {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;

}

.toast-TaiebAnalytix-Toast-Notification .progress-TaiebAnalytix-Toast-Notification:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.progress-TaiebAnalytix-Toast-Notification.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

button {
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0e4bf1;
}

.toast-TaiebAnalytix-Toast-Notification.active ~ button {
    pointer-events: none;
}


.toast-TaiebAnalytix-Toast-Notification .progressToast-TaiebAnalytix-Toast-Notification.info-TaiebAnalytix-Toast-Notification:before {
    background-color: #4070f4; /* Info - blue */
}

.toast-TaiebAnalytix-Toast-Notification .progressToast-TaiebAnalytix-Toast-Notification.success-TaiebAnalytix-Toast-Notification:before {
    background-color: #28a745; /* Success - green */
}

.toast-TaiebAnalytix-Toast-Notification .progressToast-TaiebAnalytix-Toast-Notification.error-TaiebAnalytix-Toast-Notification:before {
    background-color: #dc3545; /* Error - red */
}

.toast-TaiebAnalytix-Toast-Notification .progressToast-TaiebAnalytix-Toast-Notification.warning-TaiebAnalytix-Toast-Notification:before {
    background-color: #ffc107; /* Warning - yellow */
}

.toast-content-TaiebAnalytix-Toast-Notification .check-TaiebAnalytix-Toast-Notification.info-TaiebAnalytix-Toast-Notification {
    background-color: #4070f4; /* Info - blue */
}

.toast-content-TaiebAnalytix-Toast-Notification .check-TaiebAnalytix-Toast-Notification.success-TaiebAnalytix-Toast-Notification {
    background-color: #28a745; /* Success - green */
}

.toast-content-TaiebAnalytix-Toast-Notification .check-TaiebAnalytix-Toast-Notification.error-TaiebAnalytix-Toast-Notification {
    background-color: #dc3545; /* Error - red */
}

.toast-content-TaiebAnalytix-Toast-Notification .check-TaiebAnalytix-Toast-Notification.warning-TaiebAnalytix-Toast-Notification {
    background-color: #ffc107; /* Warning - yellow */
}

/*#endregion toast*/

/*#region Modal*/
.overlay-TaiebAnalytix-Modal.active {
    visibility: visible;
    opacity: 1;
    z-index: 99999999;
}

.overlay-TaiebAnalytix-Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay-TaiebAnalytix-Modal:target {
    visibility: visible;
    opacity: 1;
}

.popup-TaiebAnalytix-Modal {
    margin: 120px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    min-width: 30%;
    max-width: 60%;
    min-height: 20%;
    max-height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.popup-TaiebAnalytix-Modal h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup-TaiebAnalytix-Modal .close-TaiebAnalytix-Modal {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup-TaiebAnalytix-Modal .close-TaiebAnalytix-Modal:hover {
    color: #06D85F;
}

.popup-TaiebAnalytix-Modal .content-TaiebAnalytix-Modal {
    min-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {

    .popup-TaiebAnalytix-Modal {
        width: 70%;
    }
}


.TaiebAnalytix-Modal-form {

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin-bottom: 20px;
    background: rgba(242, 242, 242, 0);
    border: 1px solid #e3e3e3;
    position: unset;
}

.TaiebAnalytix-Modal-form input:last-of-type {
    margin-bottom: 20px; /* Space between last input and buttons */
}

/*#endregion Modal*/


/*#region Radio button*/

.radio-input-TaiebAnalytix-radio_button {
    max-width: 50%;
}

.radioContainer-TaiebAnalytix-radio_button {
    display: flex;
    /*justify-content: center;    !* Center horizontally *!*/
    align-items: center;
}

.input-radio-TaiebAnalytix-radio_button {
    position: absolute;
    left: -9999px;
}

.input-radio-TaiebAnalytix-radio_button:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.input-radio-TaiebAnalytix-radio_button:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}


/* The up/down direction logic */

.input-radio-TaiebAnalytix-radio_button,
.input-radio-TaiebAnalytix-radio_button:active {
    background-position: 0 24px;
}

.input-radio-TaiebAnalytix-radio_button:checked {
    background-position: 0 0;
}

.input-radio-TaiebAnalytix-radio_button:checked ~ .input-radio-TaiebAnalytix-radio_button,
.input-radio-TaiebAnalytix-radio_button:checked ~ .input-radio-TaiebAnalytix-radio_button:active {
    background-position: 0 -24px;
}

.label-TaiebAnalytix-radio_button {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.span-TaiebAnalytix-radio_button:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}

.span-TaiebAnalytix-radio_button:hover {
    background-color: #d6d6e5;
}

.span-TaiebAnalytix-radio_button {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: #414181;
}

.input-radio-TaiebAnalytix-radio_button:checked + .span-TaiebAnalytix-radio_button {
    background-color: #414181;
    color: white;
}

.input-radio-TaiebAnalytix-radio_button:checked + .span-TaiebAnalytix-radio_button:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}

/*#endregion Radio button*/


/*#region CheckBox*/
.checkbox-list-TaiebAnalytix-checkBox {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.material-checkbox-TaiebAnalytix-checkBox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777777;
    cursor: pointer;
}

.material-checkbox-TaiebAnalytix-checkBox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark-TaiebAnalytix-checkBox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #4b0000;
    border-radius: 4px;
    transition: all 0.3s;
}

.material-checkbox-TaiebAnalytix-checkBox input[type="checkbox"]:checked {

    font-weight: bold;
}

.material-checkbox-TaiebAnalytix-checkBox input[type="checkbox"]:checked ~ .checkmark-TaiebAnalytix-checkBox {
    background-color: #330000;
    border-color: #4b0000;
    font-weight: bold;
}

.material-checkbox-TaiebAnalytix-checkBox input[type="checkbox"]:checked ~ .checkmark-TaiebAnalytix-checkBox:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid #c60707;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.material-checkbox-TaiebAnalytix-checkBox input[type="checkbox"]:focus ~ .checkmark-TaiebAnalytix-checkBox {
    box-shadow: 0 0 0 2px rgba(236, 80, 80, 0.4);
}

.material-checkbox-TaiebAnalytix-checkBox:hover input[type="checkbox"] ~ .checkmark-TaiebAnalytix-checkBox {
    border-color: #cf3434;
}

.material-checkbox-TaiebAnalytix-checkBox input[type="checkbox"]:disabled ~ .checkmark-TaiebAnalytix-checkBox {
    opacity: 0.5;
    cursor: not-allowed;
}

.material-checkbox-TaiebAnalytix-checkBox input[type="checkbox"]:disabled ~ .checkmark-TaiebAnalytix-checkBox:hover {
    border-color: #4d4d4d;
}


/*#endregion CheckBox*/

/*#region Btn Taieb*/
.taieb-btn {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 0 10px 5px 10px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    background: rgba(14, 75, 241, 0);
    padding: 0;

}

.btns-TaiebAnalytix-Modal {
    display: flex;
    /*align-items: center;*/
    /*align-content: center;*/
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.taieb-btn.red-btn {
    --color: #ff0015;
}

.taieb-btn.blue-btn {
    --color: #0077ff;
}

.taieb-btn.orange-btn {
    --color: #f5ae51;
}

.taieb-btn.green-btn {
    --color: #1aab59;
}

.taieb-btn.black-btn {
    --color: #000000;
}

.taieb-btn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.taieb-btn:hover {
    color: white;
    background: white;
}

.taieb-btn:before {
    top: 100%;
    left: 100%;
    transition: 0.9s all;
}

.taieb-btn:hover::before {
    top: -30px;
    left: -30px;
}

/*#endregion Btn Taieb*/


/*#region contextual-menu*/

.Btn-TaiebAnalytix-contextual-menu {
    --colorContext: #ff4141;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--colorContext);
    padding: 0;
}

/* plus sign */
.sign-TaiebAnalytix-contextual-menu {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-TaiebAnalytix-contextual-menu svg {
    width: 10px;
}


.sign-TaiebAnalytix-contextual-menu svg path {
    fill: white;
}

.sign-TaiebAnalytix-contextual-menu span {
    width: 8px;
    padding-right: 6px;
}

.sign-TaiebAnalytix-contextual-menu span i {
    fill: white;
}

/* text */
.text-TaiebAnalytix-contextual-menu {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.Btn-TaiebAnalytix-contextual-menu:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
    background-color: var(--colorContext);
}

.Btn-TaiebAnalytix-contextual-menu:hover .sign-TaiebAnalytix-contextual-menu {
    width: 30%;
    transition-duration: .3s;
    padding-left: 2px;
    background-color: var(--colorContext);
}

/* hover effect button's text */
.Btn-TaiebAnalytix-contextual-menu:hover .text-TaiebAnalytix-contextual-menu {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
    font-size: 13px;
}

/* button click effect*/
.Btn-TaiebAnalytix-contextual-menu:active {
    transform: translate(2px, 2px);
}


.Btn-TaiebAnalytix-contextual-menu.Btn-contextual-menu-blue {
    --colorContext: #0861c6;
}

.Btn-TaiebAnalytix-contextual-menu.Btn-contextual-menu-black {
    --colorContext: #090000;
}

.Btn-TaiebAnalytix-contextual-menu.Btn-contextual-menu-green {
    --colorContext: #09ca35;
}

.Btn-TaiebAnalytix-contextual-menu.Btn-contextual-menu-orange {
    --colorContext: #ed5608;
}

.container-TaiebAnalytix-contextual-menu {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 150px;
    background-color: rgba(240, 240, 240, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(20, 47, 96, 0.82);
    display: flex;                /* Enable Flexbox */
    flex-direction: column;       /* Stack items vertically */
    justify-content: center;      /* Center items vertically */
    align-items: flex-end;          /* Center items horizontally */
    overflow: hidden;             /* Hide any overflow */
}
/*#endregion contextual-menu */




