@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600";

.tibou-analytix-modal-internal *,
.tibou-analytix-modal-internal *::before,
.tibou-analytix-modal-internal *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tibou-analytix-modal-internal html,
.tibou-analytix-modal-internal body {
    height: 100%;
    width: 100%;
}

.tibou-analytix-modal-internal a {
    color: #fff;
    text-decoration: none;
}

.tibou-analytix-modal-internal a:hover {
    text-decoration: none;
}

.tibou-analytix-modal-internal body {
    padding: 0px;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background: #644cad;
    background: -moz-linear-gradient(left, #644cad 0%, #4426a8 100%);
    background: -webkit-linear-gradient(left, #644cad 0%, #4426a8 100%);
    background: linear-gradient(to right, #644cad 0%, #4426a8 100%);
    -webkit-font-smoothing: antialiased;
}

.tibou-analytix-modal-internal h2 {
    margin-top: 0px;
    color: #4d5c6e;
    font-weight: 400;
}

.tibou-analytix-modal-internal p {
    color: #72879e;
    font-size: 16px;
    line-height: 24px;
}

.tibou-analytix-modal-internal .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.tibou-analytix-modal-internal .flex {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tibou-analytix-modal-internal .modalcontainer {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.tibou-analytix-modal-internal .modalcontainer.active {
    display: block;
}

.tibou-analytix-modal-internal .modal {
    display: none;
    position: relative;
    padding: 15px 0;
    width: 600px;
    margin: 150px;
    height: auto;
    background-color: #fff;
}

.tibou-analytix-modal-internal .modal.active {
    display: block;
}

.tibou-analytix-modal-internal .modal .content {
    padding: 30px;
}

.tibou-analytix-modal-internal .modal .close {
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 0;
    color: #999;
    font-size: 40px;
}

.tibou-analytix-modal-internal .modal .close span {
    transform: rotate(45deg);
    display: block;
}

.tibou-analytix-modal-internal .modal .buttons {
    width: 600px;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #fff;
}

.tibou-analytix-modal-internal .modal .buttons a {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    background-color: #eee;
    color: #4d5c6e;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}

.tibou-analytix-modal-internal .modal .buttons a:hover {
    background-color: rgb(225.25, 225.25, 225.25);
}

.tibou-analytix-modal-internal .modal .buttons a:nth-of-type(2) {
    float: right;
    color: #fff;
    background-color: #00c06d;
}

.tibou-analytix-modal-internal .modal .buttons a:nth-of-type(2):hover {
    background-color: rgb(0, 166.5, 94.5234375);
}

.tibou-analytix-modal-internal .modalbttn {
    background-color: #24252a;
    padding: 12px 25px;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.tibou-analytix-modal-internal .modalbttn:hover {
    background-color: rgb(43.0615384615, 44.2576923077, 50.2384615385);
}


form {
    --background: #ffffff;
    --text: #414856;
    --radio: #7C96B2;
    --radio-checked: #4F29F0;
    --radio-size: 20px;
    --width: 100px;
    --height: 140px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 45px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
}

form label {
    cursor: pointer;
}

form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: var(--radio-size);
    width: var(--radio-size);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border .5s ease;
}

form input[type="radio"]::before, form input[type="radio"]::after {
    content: "";
    display: flex;
    justify-self: center;
    border-radius: 50%;
}

form input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1;
    opacity: var(--opacity, 1);
}

form input[type="radio"]::after {
    position: relative;
    width: calc(100% / 2);
    height: calc(100% / 2);
    background: var(--radio-checked);
    top: var(--y, 100%);
    transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

form input[type="radio"]:checked {
    --radio: var(--radio-checked);
}

form input[type="radio"]:checked::after {
    --y: 0%;
    animation: stretch-animate .3s ease-out .17s;
}

form input[type="radio"]:checked::before {
    --opacity: 0;
}

form input[type="radio"]:checked ~ input[type="radio"]::after {
    --y: -100%;
}

form input[type="radio"]:not(:checked)::before {
    --opacity: 1;
    transition: opacity 0s linear .5s;
}

@keyframes stretch-animate {
    0% {
        transform: scale(1, 1);
    }

    28% {
        transform: scale(1.15, 0.85);
    }

    50% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

body {
    background: #E8EBF3;
    height: 100vh;
    font: 400 16px 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .socials {
    position: fixed;
    display: block;
    left: 20px;
    bottom: 20px;
}

body .socials > a {
    display: block;
    width: 30px;
    opacity: .2;
    transform: scale(var(--scale, 0.8));
    transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

body .socials > a:hover {
    --scale: 1;
}


html, body {
    height: 100%;
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked + .toggle:before {
    background: #947ADA;
}

#cbx:checked + .toggle span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

.center {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 20px);
}